<% child.children.each do |child| %>
  <li data-toggle="collapse" data-target="#child-<%= child.id %>" class="collapsed <%= 'active' if child == @xclass %>">
    <% if child.children? %>
      <i class="fa fa-folder fa-lg"></i>
    <% else %>
      <i class="fa fa-folder fa-lg"></i>
    <% end %>

    <%= child.code %> <%= link_to_unless_current truncate(child.name, :length => 18), xroot_xcategory_xclass_path(child.xcategory.xroot, child.xcategory, child) %>

    <% if child.children.present? %>
      <span class="arrow"></span>
    <% end %>
  </li>

  <% if child.children.present? %>
    <% if @xclass.ancestors.include?(child) %>
    <ul class="sub-menu collapse pl-2 show" id="child-<%= child.id %>">
    <% else %>
    <ul class="sub-menu collapse pl-2" id="child-<%= child.id %>">
    <% end %>
      <%= render 'submenu_child', child: child %>
    </ul>
  <% end %>
<% end %>
