<div class="name-container name-pale-blue name-leftbar">
  <h1>Show Xclass</h1>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Name:</strong> <%= xclass.name %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Description:</strong> <%= xclass.description %></li>
    <li class="list-group-item"><strong>Synonym:</strong> <%= xclass.synonym %></li>
    <li class="list-group-item"><strong>Code:</strong> <%= xclass.code %></li>
    <li class="list-group-item"><strong>Version date:</strong> <%= xclass.version_date %></li>
    <li class="list-group-item"><strong>Publish:</strong> <%= xclass.publish %></li>
    <li class="list-group-item"><strong>Xtype:</strong> <%= xclass.xtype %></li>
    <li class="list-group-item"><strong>User:</strong> <%= xclass.user_id %></li>
    <li class="list-group-item"><strong>Xcategory:</strong> <%= xclass.xcategory_id %></li>    
  </ul>
</div>

<br>

<%= link_to 'Edit', edit_xclass_path(xclass), class: 'btn btn-sm btn-outline-secondary' %>
<%= link_to 'Back', xclasses_path, class: 'btn btn-sm btn-outline-secondary' %>
