<div class="show-xclass">
  <div class="nav-side-menu">
    <div class="brand">
      <%= fa_icon('arrow-circle-o-left') %>
        <%= link_to truncate(@xclass.xcategory.xroot.name, :length => 20), xroot_path(@xclass.xcategory.xroot) %>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">

        <% @xclass.xcategory.xroot.xcategories.each do |xcategory| %>
          <li data-toggle="collapse" data-target="#xcategory-<%= xcategory.id %>" class="collapsed <%= 'active' if @xclass.xcategory == xcategory %> pl-2">

            <% if xcategory.xclasses %>
              <i class="fa fa-folder fa-lg"></i>
            <% else %>
              <i class="fa fa-file fa-lg"></i>
            <% end %>

            <a href="<%= xroot_xcategory_path(xcategory.xroot, xcategory) %>">
                <%= xcategory.code %> <%= truncate(xcategory.name, :length => 18) %>
            </a>
            
            <% if xcategory.xclasses.present? %>
              <span class="arrow"></span>
            <% end %>
          </li>

          <% if xcategory.xclasses.present? %>
            <% if @xclass.xcategory == xcategory %>
            <ul class="sub-menu collapse pl-2 show" id="xcategory-<%= xcategory.id %>">
            <% else %>
            <ul class="sub-menu collapse pl-2" id="xcategory-<%= xcategory.id %>">
            <% end %>
              <% xcategory.xclasses.each do |xclass| %>
                <% if xclass.root? %>
                  <li data-toggle="collapse" data-target="#xclass-<%= xclass.id %>" class="collapsed <%= 'active' if xclass == @xclass %>">
                    <% if xclass.children? %>
                      <i class="fa fa-folder fa-lg"></i>
                    <% else %>
                      <i class="fa fa-file fa-lg"></i>
                    <% end %>

                    <%= link_to truncate(xclass.name, :length => 18), xroot_xcategory_xclass_path(xclass.xcategory.xroot, xclass.xcategory, xclass) %>
                    
                    <% if xclass.children.present? %>
                      <span class="arrow"></span>
                    <% end %>
                  </li>
                  
                  <% if xclass.children? %>
                    <% if @xclass.ancestors.include?(xclass) %>
                    <ul class="sub-menu collapse pl-2 show" id="xclass-<%= xclass.id %>">
                    <% else %>
                    <ul class="sub-menu collapse pl-2" id="xclass-<%= xclass.id %>">
                    <% end %>
                      <%= render 'submenu_xclass', xclass: xclass %>
                    </ul>
                  <% end %>

                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= fa_icon('link') %></li>
        <li class="breadcrumb-item"><%= link_to truncate(@xclass.xcategory.xroot.name, :length => 18), xroot_path(@xclass.xcategory.xroot) %></li>
        <li class="breadcrumb-item"><%= link_to truncate(@xclass.xcategory.name, :length => 18), xroot_xcategory_path(@xclass.xcategory.xroot, @xclass.xcategory) %></li>
        <% @xclass.ancestors.each do |ancestor| %>
          <li class="breadcrumb-item"><%= link_to truncate(ancestor.name, :length => 18), xroot_xcategory_xclass_path(@xclass.xcategory.xroot, @xclass.xcategory, ancestor) %></li>
        <% end %>
        <li class="breadcrumb-item active" aria-current="page"><%= truncate(@xclass.name, :length => 18) %></li>
      </ol>
    </nav>

    <div class="card mt-4">
      <div class="card-block">
        <h1 class="card-header"><%= fa_icon('file-text-o') %> <%= @xclass.name %></h1>
        <div class="card-body">
          <div class="row justify-content-md-center">
            <div class="col-md-12">

              <p><strong><%= fa_icon('align-left') %> description: </strong><%= @xclass.description %></p>
              <p><strong><%= fa_icon('align-left') %> synonym: </strong><%= @xclass.synonym %></p>
              <p><strong><%= fa_icon('file-code-o') %> code: </strong><%= @xclass.code %></p>
              <p><strong><%= fa_icon('calendar') %> version date: </strong><%= @xclass.version_date %></p>
              <p><strong><%= fa_icon('check-square-o') %> publish: </strong><%= @xclass.publish %></p>
              <p><strong><%= fa_icon('cogs') %> properties:</strong>
              <%= render 'shared/properties', resource: @xclass %>
              </p>

              <div class="mt-5">
                <div class="float-right">
                  <% if current_user.author_of?(@xclass) %>
                    <%= link_to fa_icon('files-o'), new_xroot_xcategory_xclass_path(@xcategory.xroot, @xcategory, parent_id: @xclass.id), class: "btn btn-sm btn-outline-success ml-5" %>
                    <%= link_to fa_icon('pencil'), edit_xroot_xcategory_xclass_path(@xclass), class: 'btn btn-sm btn-outline-warning ml-5' %>
                    <%= link_to fa_icon('trash'), xroot_xcategory_xclass_path(@xclass.xcategory.xroot, @xclass.xcategory, @xclass), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger ml-5' %>
                  <% end %>
                </div>
                
                <% if @xclass.root? %>
                  <%= link_to fa_icon('arrow-left'), xroot_xcategory_path(@xclass.xcategory.xroot, @xclass.xcategory), class: 'btn btn-sm btn-outline-secondary' %>
                <% else %>
                  <%= link_to fa_icon('arrow-left'), xroot_xcategory_xclass_path(@xclass.xcategory.xroot, @xclass.xcategory, @xclass.parent), class: 'btn btn-sm btn-outline-secondary' %>
                <% end %>
                <% if @xclass.parent %>
                  <%= link_to fa_icon('reply'), xroot_xcategory_path(@xclass.xcategory.xroot, @xclass.xcategory), class: 'btn btn-sm btn-outline-secondary ml-5' %>
                <% end %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>