<% cache @xclass do %>
  <div class="show-xclass">
    <div class="nav-side-menu">
      <%= render 'shared/btn_brand' %>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <% @xclass.xcategory.xroot.xcategories.each do |xcategory| %>
            <li data-toggle="collapse" data-target="#xcategory-<%= xcategory.id %>" class="collapsed <%= 'active' if @xclass.xcategory == xcategory %>">
              <a class="file" href="<%= xroot_xcategory_path(xcategory.xroot, xcategory) %>">
              <% if xcategory.xclasses %>
                <i class="fa fa-folder fa-lg"></i>
              <% else %>
                <i class="fa fa-file fa-lg"></i>
              <% end %>
              </a>

              <%= xcategory.code %> <%= truncate(xcategory.name, :length => 18) %>
              
              <% if xcategory.xclasses.present? %>
                <span class="arrow"></span>
              <% end %>
            </li>

            <% if xcategory.xclasses.present? %>
              <% if @xclass.xcategory == xcategory %>
                <ul class="sub-menu collapse pl-2 show" id="xcategory-<%= xcategory.id %>">
              <% else %>
                <ul class="sub-menu collapse pl-2" id="xcategory-<%= xcategory.id %>">
              <% end %>
                <% xcategory.xclasses.each do |xclass| %>
                  <% if xclass.root? %>
                    <%= render 'xclasses/xclass', xclass: xclass %>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="content">
      <%= render 'xroots/example_info_0', xroot: @xclass.xcategory.xroot %>
      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to truncate(@xclass.xcategory.xroot.name, :length => 18), xroot_path(@xclass.xcategory.xroot) %></li>
          <li class="breadcrumb-item"><%= link_to truncate(@xclass.xcategory.name, :length => 18), xroot_xcategory_path(@xclass.xcategory.xroot, @xclass.xcategory) %></li>
          <% @xclass.ancestors.each do |ancestor| %>
            <li class="breadcrumb-item"><%= link_to truncate(ancestor.name, :length => 18), xroot_xcategory_xclass_path(@xclass.xcategory.xroot, @xclass.xcategory, ancestor) %></li>
          <% end %>
          <li class="breadcrumb-item active" aria-current="page"><%= truncate(@xclass.name, :length => 18) %></li>
        </ol>
      </nav>
      
      <div class="show-errors" >
        <%= render 'shared/errors', resource: @xclass %>
      </div>
      <div class="resource-show card">
        <%= render 'form_inline', xclass: @xclass %>
        <%= render 'shared/content', resource: @xclass %>        
      </div>
      <%= render 'shared/btn_action', resource: @xclass %>
    </div>
  </div>
<% end %>