<p id="notice"><%= notice %></p>

<h1>Xtypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Synonym</th>
      <th>Code</th>
      <th>Version date</th>
      <th>Publish</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @xtypes.each do |xtype| %>
      <tr>
        <td><%= xtype.name %></td>
        <td><%= xtype.description %></td>
        <td><%= xtype.synonym %></td>
        <td><%= xtype.code %></td>
        <td><%= xtype.version_date %></td>
        <td><%= xtype.publish %></td>
        <td><%= xtype.user_id %></td>
        <td><%= link_to 'Show', xtype %></td>
        <td><%= link_to 'Edit', edit_xtype_path(xtype) %></td>
        <td><%= link_to 'Destroy', xtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Xtype', new_xtype_path %>
