<div class="index">
  <div class="card mt-4">
    <div class="card-block">
      <h1 class="card-header text-center">Xcategories</h1>
      <div class="card-body">
        <div class="row justify-content-md-center">
          <div class="col-md-12">

            <table class="table table-bordered table-striped table-responsive table-light">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Synonym</th>
                  <th>Code</th>
                  <th>Version date</th>
                  <th>Publish</th>
                  <th>Xroot</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @xcategories.each do |xcategory| %>
                  <tr>
                    <td><%= truncate("#{xcategory.name}", :length => 40) %></td>
                    <td><%= truncate("#{xcategory.description}", :length => 40) %></td>
                    <td><%= truncate("#{xcategory.synonym}", :length => 40) %></td>
                    <td><%= xcategory.code %></td>
                    <td><%= xcategory.version_date %></td>
                    <td><%= xcategory.publish %></td>
                    <td><%= xcategory.xroot.name %></td>
                    <td><%= link_to fa_icon('eye'), xroot_xcategory_path(xcategory.xroot, xcategory), class: 'btn btn-sm btn-outline-info' %></td>
                    <% if current_user.author_of?(xcategory) %>
                      <td><%= link_to fa_icon('pencil'), edit_xroot_xcategory_path(xcategory.xroot, xcategory), class: 'btn btn-sm btn-outline-warning' %></td>
                      <td><%= link_to fa_icon('trash'), xroot_xcategory_path(xcategory.xroot, xcategory), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group mt-5">
    <%= link_to fa_icon('file'), new_xroot_xcategory_path, class: 'btn btn-sm btn-outline-success' %>
  </div>
</div>