<% cache @xcategory do %>
  <div class="show-xcategory">
    <div class="nav-side-menu">
      <%= render 'shared/btn_brand' %>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
        <% @xcategory.xroot.xcategories.each do |xcategory| %>  
          <%= render 'xcategories/xcategory', xcategory: xcategory %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="content">
      <%= render 'xroots/example_info_0', xroot: @xroot %>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to truncate(@xcategory.xroot.name, :lenth => 18), xroot_path(@xcategory.xroot) %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= truncate(@xcategory.name, :length => 18) %></li>
        </ol>
      </nav>
      
      <div class="show-errors" >
        <%= render 'shared/errors', resource: @xcategory %>
      </div>
      <div class="resource-show card">
        <%= render 'form_inline', xcategory: @xcategory %>
        <%= render 'shared/content', resource: @xcategory %>
      </div>
      <%= render 'shared/btn_action', resource: @xcategory %>
    </div>
  </div>
<% end %>