<div class="name-container name-pale-blue name-leftbar">
  <h1>Show Xcategory</h1>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Name: <%= xcategory.name %></strong></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Description:</strong> <%= xcategory.description %></li>
    <li class="list-group-item"><strong>Synonym:</strong> <%= xcategory.synonym %></li>
    <li class="list-group-item"><strong>Code:</strong> <%= xcategory.code %></li>
    <li class="list-group-item"><strong>Version date:</strong> <%= xcategory.version_date %></li>
    <li class="list-group-item"><strong>Publish:</strong> <%= xcategory.publish %></li>
    <li class="list-group-item"><strong>Root:</strong> <%= xcategory.root_id %></li>
    <li class="list-group-item"><strong>Ancestry:</strong> <%= xcategory.ancestry %></li>    
  </ul>
</div>

<br>

<%= link_to 'Edit', edit_xcategory_path(xcategory), class: 'btn btn-sm btn-outline-secondary' %>
<%= link_to 'Back', xcategories_path, class: 'btn btn-sm btn-outline-secondary' %>