<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= xcategory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= xcategory.description %>
</p>

<p>
  <strong>Synonym:</strong>
  <%= xcategory.synonym %>
</p>

<p>
  <strong>Code:</strong>
  <%= xcategory.code %>
</p>

<p>
  <strong>Version date:</strong>
  <%= xcategory.version_date %>
</p>

<p>
  <strong>Publish:</strong>
  <%= xcategory.publish %>
</p>

<p>
  <strong>User:</strong>
  <%= xcategory.user_id %>
</p>

<p>
  <strong>Xroot:</strong>
  <%= xcategory.xroot_id %>
</p>

<%= link_to 'Edit', edit_xcategory_path(xcategory) %> |
<%= link_to 'Back', xcategories_path %>
