<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :propertyable_id %>
    <%= f.number_field :propertyable_id %>
  </div>

  <div class="field">
    <%= f.label :propertyable_type %>
    <%= f.text_field :propertyable_type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
