<div class="card">
  <div class="card-body">
    <div class="form-group">
      <%= form_for(property) do |f| %>

        <%= render 'layouts/errors', resource: property %>

        <div class="field">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :propertyable_id %>
          <%= f.number_field :propertyable_id, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :propertyable_type %>
          <%= f.text_field :propertyable_type, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= f.submit class: "btn btn-sm btn-outline-primary mt-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>