<div class="index">
  <div class="name-container name-pale-blue name-leftbar mb-2">
    <h1>Properties</h1>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Propertyable</th>
          <th>Name</th>
          <th>Description</th>
          <th>Activity</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td><%= property.propertyable_type %></td>
            <td><%= property.name %></td>
            <td><%= property.description %></td>
            <td><%= activity(property) %></td>
            <td><%= link_to (octicon 'eye'), property, class: 'btn btn-sm btn-outline-secondary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>