<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Synonym</th>
      <th>Code</th>
      <th>Version date</th>
      <th>Publish</th>
      <th>Position</th>
      <th>Ancestry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.description %></td>
        <td><%= property.synonym %></td>
        <td><%= property.code %></td>
        <td><%= property.version_date %></td>
        <td><%= property.publish %></td>
        <td><%= property.position %></td>
        <td><%= property.ancestry %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
