<div class="show-second">
  <div class="card mt-5">
    <div class="card-block">
      <h1 class="card-header text-center">Show Property</h1>
      <div class="card-body">
        <div class="row justify-content-md-center">
          <div class="col-md-12">

            <p><strong>Propertyable: </strong><%= property.propertyable_type %></p>
            <p><strong>Name: </strong><%= property.name %></p>
            <p><strong>Description: </strong><%= property.description %></p>
            <p><strong>Activity: </strong><%= activity(property) %></p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-group mt-5">
    <%= link_to fa_icon('arrow-left'), properties_path, class: 'btn btn-sm btn-outline-secondary' %>
  </div>
</div>