<div class="show">
  <div class="name-container name-pale-blue name-leftbar mb-2">
    <h1>Show Property</h1>
  </div>

  <div class="show-form">
    <ul class="list-group">
      <li class="list-group-item"><strong>Propertyable:</strong> <%= property.propertyable_type %></li>
      <li class="list-group-item"><strong>Name:</strong> <%= property.name %></li>
      <li class="list-group-item"><strong>Description:</strong> <%= property.description %></li>
      <li class="list-group-item"><strong>Activity:</strong> <%= activity(property) %></li>
      </li>
    </ul>
  </div>

  <div class="btn-group mt-2">
    <%= link_to 'All properties', properties_path, class: 'btn btn-sm btn-outline-secondary' %>
  </div>
</div>