<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @property.content %>
</p>

<p>
  <strong>Propertyable:</strong>
  <%= @property.propertyable_id %>
</p>

<p>
  <strong>Propertyable type:</strong>
  <%= @property.propertyable_type %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
