<div class="parent">
  <h1 class="card-header"><%= fa_icon('file-text-o') %> <%= xroot.name %></h1>
  <div class="card-body">
    <div class="row justify-content-md-center">
      <div class="col-md-12 btn-group">
        <p class="pr-2"><strong><%= fa_icon('align-left') %> </strong><%= truncate(xroot.description, :length => 7) %></p>
        <p class="pr-2"><strong><%= fa_icon('align-left') %> </strong><%= truncate(xroot.synonym, :length => 7) %></p>
        <p class="pr-2"><strong><%= fa_icon('file-code-o') %> </strong><%= xroot.code %></p>
        <p class="pr-2"><strong><%= fa_icon('calendar') %> </strong><%= xroot.version_date %></p>
        <p><strong><%= fa_icon('check-square-o') %> </strong><%= xroot.publish %></p>
        </p>
      </div>
    </div>
  </div>
</div>