<div class="name-container name-pale-blue name-leftbar">
  <h1>Activities</h1>
</div>

<br>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Synonym</th>
        <th>Code</th>
        <th>Version date</th>
        <th>Publish</th>
        <th>Position</th>
        <th>Ancestry</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.name %></td>
          <td><%= activity.description %></td>
          <td><%= activity.synonym %></td>
          <td><%= activity.code %></td>
          <td><%= activity.version_date %></td>
          <td><%= activity.publish %></td>
          <td><%= activity.position %></td>
          <td><%= activity.ancestry %></td>
          <td><%= link_to (octicon 'eye'), activity, class: 'btn btn-sm btn-outline-info' %></td>
          <td><%= link_to (octicon 'pencil'), edit_activity_path(activity), class: 'btn btn-sm btn-outline-warning' %></td>
          <td><%= link_to (octicon 'trashcan'), activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %></td> %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Activity', new_activity_path, class: 'btn btn-sm btn-outline-primary' %>
