<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Synonym:</strong>
  <%= @activity.synonym %>
</p>

<p>
  <strong>Code:</strong>
  <%= @activity.code %>
</p>

<p>
  <strong>Version date:</strong>
  <%= @activity.version_date %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @activity.publish %>
</p>

<p>
  <strong>Position:</strong>
  <%= @activity.position %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @activity.ancestry %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
