<div class="show-second">
  <div class="card mt-5">
    <div class="card-block">
      <h1 class="card-header text-center">Show Activity</h1>
      <div class="card-body">
        <div class="row justify-content-md-center">
          <div class="col-md-12">

            <p><strong>Name:</strong> <%= activity.name %></p>
            <p><strong>Description:</strong> <%= activity.description %></p>
            <p><strong>Synonym:</strong> <%= activity.synonym %></p>
            <p><strong>Code:</strong> <%= activity.code %></p>
            <p><strong>Version date:</strong> <%= activity.version_date %></p>
            <p><strong>Publish:</strong> <%= activity.publish %></p>
            <p><strong>Position:</strong> <%= activity.position %></p>    
            <p><strong>Ancestry:</strong> <%= activity.ancestry %></p>
            <p><strong>Children:</strong> <%= activity.has_children? %></p>
            <p>
              <strong>Children: <% if current_user.author_of?(activity) %><%= link_to 'add new child', new_activity_path(parent_id: activity.id), class: "btn btn-sm btn-outline-success" %><% end %></strong>
              <ul class="items list-group mt-3 mb-3">
                <% activity.children.each do |child| %>
                  <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <%= link_to truncate("#{child.name}", :length => 30), activity_path(child), class: 'text-secondary' %>
                      <small title="Date of creation"><%= child.created_at %></small>
                      <span class="badge badge-info badge-pill" title="Children">
                        <%= child.children.size %>
                      </span>
                      <% if current_user.author_of?(child) %>
                        <%= link_to (octicon 'trashcan'), activity_path(child), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', class: 'btn btn-sm btn-outline-danger' %>
                      <% end %>
                  </li>
                <% end %>
              </ul>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="btn-group mt-5">
    <% if current_user.author_of?(activity) %>
      <%= link_to (octicon 'pencil'), edit_activity_path(activity), class: 'btn btn-sm btn-outline-warning' %>
    <% end %>
    <% if activity.is_root? %>
      <%= link_to (octicon 'arrow-left'), activities_path, class: 'btn btn-sm btn-outline-secondary' %>
    <% else %>
      <%= link_to (octicon 'arrow-left'), activity_path(activity.parent), class: 'btn btn-sm btn-outline-secondary' %>
    <% end %>
  </div>
</div>