<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3"><%= t 'front_pages.index.welcome' %></h1>
    <p><%= t 'front_pages.index.description' %></p>
    <p><a class="btn btn-primary btn-lg" href="<%= xclasses_path %>" role="button"><%= t 'front_pages.index.link_watch' %> &raquo;</a></p>
  </div>
</div>

<!-- INFO row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>#КОАМТ <%= current_year %></h2>
    <p>Курылыс саласын трансформациалау. Құрылыстағы ақпараттық модельдеу технологиялары саласында нормативтік-техникалық базаны дамыту жөніндегі комиссия.</p>
  </div>
  <div class="col-md-4">
    <h2>#ТИМСО <%= current_year %></h2>
    <p>Трансформация строительной отрасли. Комиссия по развитию нормативно-технической базы в области технологии информационного моделирования в строительстве.</p>
  </div>
  <div class="col-md-4">
    <h2>#BIM <%= current_year %></h2>
    <p>Transformation of construction industry. Commission for the development of the regulatory and technical base in the field of information modeling technology in construction.</p>
  </div>
</div>

<!-- LINK row of columns -->
<div class="row">
  <div class="col-md-4">
    <p><a class="btn btn-secondary" href="<%= front_pages_help_path %>" role="button"><%= t('front_pages.help') %> &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <p><a class="btn btn-secondary" href="<%= front_pages_service_path %>" role="button"><%= t('front_pages.service') %> &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <p><a class="btn btn-secondary" href="<%= front_pages_contact_path %>" role="button"><%= t('front_pages.contact') %> &raquo;</a></p>
  </div>
</div>