<div class="name-container name-pale-blue name-leftbar">
  <h1>Show xroot</h1>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Name: <%= xroot.name %></strong></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Description:</strong> <%= xroot.description %></li>
    <li class="list-group-item"><strong>Synonym:</strong> <%= xroot.synonym %></li>
    <li class="list-group-item"><strong>Code:</strong> <%= xroot.code %></li>
    <li class="list-group-item"><strong>Version date:</strong> <%= xroot.version_date %></li>
    <li class="list-group-item"><strong>Publish:</strong> <%= xroot.publish %></li>
    <li class="list-group-item"><strong>User:</strong> <%= xroot.user_id %></li>    
  </ul>
</div>

<br>

<%= link_to 'Edit', edit_xroot_path(xroot), class: 'btn btn-sm btn-outline-primary' %>
<%= link_to 'Back', xroots_path, class: 'btn btn-sm btn-outline-primary' %>