<% cache @xroot do %>
  <div class="show-xroot">
    <div class="nav-side-menu">
      <%= render 'shared/btn_brand' %>
      <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out xcategories-list">
        <% @xroot.xcategories.each do |xcategory| %>
          <li data-toggle="collapse" data-target="#xcategory-<%= xcategory.id %>" class="collapsed <%= 'active' if xcategory == @xcategory %>">
            <a class="file" href="<%= xroot_xcategory_path(xcategory.xroot, xcategory) %>">
            <% if xcategory.xclasses.present? %>
              <i class="fa fa-folder fa-lg"></i>
            <% else %>
              <i class="fa fa-file fa-lg"></i>
            <% end %>
            </a>

            <%= xcategory.code %> <%= truncate(xcategory.name, :length => 18) %>

            <% if xcategory.xclasses.present? %>
              <span class="arrow"></span>
            <% end %>
          </li>

          <% if xcategory.xclasses.present? %>
            <ul class="sub-menu collapse pl-2" id="xcategory-<%= xcategory.id %>">
              <%= render 'xcategories/sub_xclasses', xcategory: xcategory %>
            </ul>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="content">
      <%= render 'example_info_2' %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to 'Xroots', xroots_path %></li>
          <li class="breadcrumb-item active" aria-current="page"><%= truncate(@xroot.name, :length => 18) %></li>
        </ol>
      </nav>
      <div class="show-errors" >
        <%= render 'shared/errors', resource: @xroot %>
      </div>
      <div class="resource-show card mt-4">
        <%= render 'form_inline', resource: @xroot %>
        <%= render 'shared/content', resource: @xroot %>
    </div>
    <%= render 'shared/btn_content', resource: @xroot %>
  </div>
<% end %>