<ul id="menu">
  <% Xroot.roots.each do |page| %>
  <li><%= link_to page.name, page, class: ("active" if xroot.root == page) %></li>
  <% end %>
</ul>

<div id="submenu">
  <%= render 'submenu_pages', xroots: xroot.root.descendants.arrange %>
</div>

<div id="breadcrumbs">
  <% xroot.ancestors.each do |page| %>
    <%= link_to page.name, page %> &gt;
  <% end %>
</div>

<h1><%= xroot.name %></h1>

<%= simple_format(xroot.description) %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><strong>Name: <%= xroot.name %></strong></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Description:</strong> <%= xroot.description %></li>
    <li class="list-group-item"><strong>Synonym:</strong> <%= xroot.synonym %></li>
    <li class="list-group-item"><strong>Code:</strong> <%= xroot.code %></li>
    <li class="list-group-item"><strong>Version date:</strong> <%= xroot.version_date %></li>
    <li class="list-group-item"><strong>Publish:</strong> <%= xroot.publish %></li>
    <li class="list-group-item"><strong>Ancestry:</strong> <%= xroot.ancestry %></li>    
  </ul>
</div>

<br>

<%= link_to 'Edit', edit_xroot_path(xroot), class: 'btn btn-sm btn-outline-secondary' %>
<%= link_to 'Back', xroots_path, class: 'btn btn-sm btn-outline-secondary' %>
