<div class="show">
  <div class="nav-side-menu">
    <div class="brand">CLASSIFICATION SYSTEM</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <% @xroots.each do |xroot| %>
          <li data-toggle="collapse" data-target="#xroot-<%= xroot.id %>" class="collapsed <%= "active" if xroot == @xroot %>"><a href="<%= xroot_path(xroot) %>"><i class="fa fa-globe fa-lg"></i> <%= xroot.name %> <% if xroot.xcategories.present? %><span class="arrow"></span><% end %></a></li>
          
          <% if xroot.xcategories.present? %>
              <% xroot.xcategories.each do |xcategory| %>
                <ul class="sub-menu collapse" id="xroot-<%= xroot.id %>">
                  <li><%= link_to xcategory.name, xroot_xcategory_path(xroot, xcategory) %></li>
                </ul>
              <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="content">
    <div id="breadcrumbs">
      <%= @xroot.name %>
    </div>

    <div class="card mt-2">
      <h1><strong>Name: </strong><%= @xroot.name %></h1>
      <p><strong>Description: </strong><%= @xroot.description %></p>
      <p><strong>Synonym: </strong><%= @xroot.synonym %></p>
      <p><strong>Code: </strong><%= @xroot.code %></p>
      <p><strong>Version date: </strong><%= @xroot.version_date %></p>
      <p><strong>Publish: </strong><%= @xroot.publish %></p>
      <p><strong>Properties:</strong>
      <%= render 'shared/properties', resource: @xroot %>
      </p>
      <p><strong>Xcategories:</strong> <%= @xroot.xcategories.count %></p>
      <div>
        <% if current_user.author_of?(@xroot) %>
          <%= link_to octicon('plus'), new_xroot_xcategory_path(@xroot), class: "btn btn-sm btn-outline-success" %>
          <%= link_to (octicon 'pencil'), edit_xroot_path(@xroot), class: 'btn btn-sm btn-outline-warning' %>
          <%= link_to (octicon 'trashcan'), xroot_path(@xroot), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
        <% end %>
      </div>
      </p>
    </div>

    <div class="btn-group">
      <%= link_to octicon('arrow-left'), xroots_path, class: 'btn btn-sm btn-outline-secondary' %>
    </div>
  </div>
</div>