<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @xroot.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @xroot.description %>
</p>

<p>
  <strong>Synonym:</strong>
  <%= @xroot.synonym %>
</p>

<p>
  <strong>Code:</strong>
  <%= @xroot.code %>
</p>

<p>
  <strong>Version date:</strong>
  <%= @xroot.version_date %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @xroot.publish %>
</p>

<p>
  <strong>User:</strong>
  <%= @xroot.user_id %>
</p>

<%= link_to 'Edit', edit_xroot_path(@xroot) %> |
<%= link_to 'Back', xroots_path %>
