<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">  
  <a href="<%= root_path %>"><%= image_tag 'logo-smoke.png', title: "Logo BIM", alt: "Logo BIM", class: "navbar-brand img-fluid rounded-circle",
    heght: "50", width: "50" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown ml-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Change locale">
          <%= fa_icon "globe" %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'KZ', "/?locale=kz", class: "dropdown-item" %>
          <%= link_to 'RU', "/?locale=ru", class: "dropdown-item" %>
          <%= link_to 'EN', "/?locale=en", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
    <% if user_signed_in? %>
    <ul class="navbar-nav pull-xs-right">
      
      <li class="nav-item dropdown ml-2">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Tree Table">
          <%= fa_icon "sitemap" %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!--  <div class="dropdown-divider"></div> -->
          <a href="<%= xroots_path %>" class="dropdown-item">Root <span class="badge"><%= count_xroots %></span></a>
          <a href="<%= xroots_path %>" class="dropdown-item">Category <span class="badge"><%= count_xcategories %></span></a>
          <a href="<%= xroots_path %>" class="dropdown-item">Classes <span class="badge"><%= count_xclasses %></span></a>
          <a href="<%= properties_path %>" class="dropdown-item">Properties <span class="badge"><%= count_properties %></span></a>
          <a href="<%= activities_path %>" class="dropdown-item">Activities <span class="badge"><%= count_activities %></span></a>
        </div>
      </li>

      <li class="nav-item ml-2">
        <%= link_to fa_icon("plug"), "/api_docs/single_swagger_doc", class: "nav-link", target: :_blank, title: "API docs" %>
      </li>
      <li class="nav-item ml-2">
          <%= link_to fa_icon("keyboard-o"), "/admin/", class: "nav-link", title: "Admin panel" %>
      </li>

      <li class="nav-item dropdown ml-2">
        <a class="nav-link dropdown-toggle dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %> <%= fa_icon "user-circle", title: "User avatar", alt: "User image" %>
        </a>
        <div class="dropleft dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мои таблицы</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a href="<%= xroots_path %>" class="dropdown-item">Root <span class="badge"><%= current_user_count_xroots %></span></a>
            <a href="<%= xroots_path %>" class="dropdown-item">Categories <span class="badge"><%= current_user_count_xcategories %></span></a>
            <a href="<%= xroots_path %>" class="dropdown-item">Classes <span class="badge"><%= current_user_count_xclasses %></span></a>
            <a href="<%= activities_path %>" class="dropdown-item">Activities <span class="badge"><%= current_user_count_activities %></span></a>
            <a href="<%= properties_path %>" class="dropdown-item">Properties <span class="badge"><%= current_user_count_properties %></span></a>
          </div>

          <div class="dropdown-divider"></div>
          <%= link_to t('user.edit_profile'), edit_user_registration_path, class: "dropdown-item" %>
        </div>
      </li>
      <li class="nav-item ml-2">
        <%= link_to fa_icon("sign-out"), destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link", title: "Sign out", alt: "Logout" %>
      </li>
    </ul>    
  </div>
    <% else %>  
    <ul class="navbar-nav pull-xs-right">    
      <li class="nav-item ml-2">
        <%= link_to t('user.login'), new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item ml-2">
        <%= link_to t('user.registration'), new_user_registration_path, class: "nav-link" %>
      </li>
    </ul>
    <% end %> 
  </div>
</nav>