<!DOCTYPE html>
<html>
  <head>
    <title>Classifier</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %> 
    <div class="container">
    <%= render 'layouts/flash' %>  
      <%= yield %>
    </div>     
    <%= render 'layouts/footer' %>
  </body>
</html>


